<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yemh.xqsrd.bookmark.account.mapper.IXBookmarkMapper">
<!-- 插入网址账号 -->
  <insert id="x_set_account_add" parameterType="Map">
    insert into x_bookmark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xid != null">
        xid,
      </if>
      <if test="websiteName != null">
        website_name,
      </if>
      <if test="websiteUrl != null">
        website_url,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="loginPasswd != null">
        login_passwd,
      </if>
      <if test="bindMail != null">
        bind_mail,
      </if>
      <if test="disc != null">
        disc,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xid != null">
        #{xid,jdbcType=BIGINT},
      </if>
      <if test="websiteName != null">
        #{websiteName,jdbcType=CHAR},
      </if>
      <if test="websiteUrl != null">
        #{websiteUrl,jdbcType=CHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=CHAR},
      </if>
      <if test="loginPasswd != null">
        #{loginPasswd,jdbcType=CHAR},
      </if>
      <if test="bindMail != null">
        #{bindMail,jdbcType=CHAR},
      </if>
      <if test="disc != null">
        #{disc,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 插入网址账号 -->
  <insert id="add" parameterType="Map">
    insert into x_bookmark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xid != null">
        xid,
      </if>
      <if test="websiteName != null">
        website_name,
      </if>
      <if test="websiteUrl != null">
        website_url,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="loginPasswd != null">
        login_passwd,
      </if>
      <if test="bindMail != null">
        bind_mail,
      </if>
      <if test="disc != null">
        disc,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xid != null">
        #{xid,jdbcType=BIGINT},
      </if>
      <if test="websiteName != null">
        #{websiteName,jdbcType=CHAR},
      </if>
      <if test="websiteUrl != null">
        #{websiteUrl,jdbcType=CHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=CHAR},
      </if>
      <if test="loginPasswd != null">
        #{loginPasswd,jdbcType=CHAR},
      </if>
      <if test="bindMail != null">
        #{bindMail,jdbcType=CHAR},
      </if>
      <if test="disc != null">
        #{disc,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
    <!-- 更新 -->
    <update id="upd">
        update x_bookmark
        <set>
            <if test="websiteName != null or websiteName !=''">website_name = #{websiteName},</if>
            <if test="loginPasswd != null or loginPasswd !=''">login_passwd = #{loginPasswd},</if>
            <if test="loginName != null or loginName !=''">login_name = #{loginName},</if>
            <if test="websiteUrl != null or websiteUrl !=''">website_url = #{websiteUrl},</if>
            <if test="bindMail != null or bindMail !=''">bind_mail = #{bindMail},</if>
            <if test="disc != null or disc !=''">disc = #{disc},</if>
            <if test="gmt_modified != null or gmt_modified !=''">gmt_modified = #{gmtModified},</if>
        </set>
        <where>
            xid = #{xId}
        </where>
    
    </update>
    <!-- 分页查询 -->
    <select id="getList" resultType="java.util.LinkedHashMap">
        select 
        t1.xid 'xId',
        t1.website_name 'websiteName',
        t1.login_passwd 'loginPasswd',
        t1.login_name 'loginName',
        t1.website_url 'websiteUrl',
        t1.bind_mail 'bindMail',
        t1.disc 'disc',
        t1.gmt_modified 'gmtModified'
        from x_bookmark t1
        order by t1.gmt_modified
    </select>
    <!-- 根据网址模糊查询，分页查询 -->
    <select id="getListByUrlKey" resultType="java.util.LinkedHashMap">
        select 
        t1.website_url 'websiteUrl',
        t1.login_name 'loginName',
        t1.login_passwd 'loginPasswd'
        from x_bookmark t1
        where t1.website_url like concat('%', concat(#{urlKey}, '%'))
        order by t1.gmt_modified
    </select>
</mapper>