<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yemh.xqsrd.account.mapper.IXLoginMapper">
    <!-- 结果集 -->
    <resultMap id="BaseResultMap" type="xuser" >
        <id column="xid" property="xId" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
<!--         <result column="user_sex" property="userSex" javaType="com.neo.enums.UserSexEnum"/> -->
    </resultMap>
    <!-- 登录查询 -->
	<select id="getUserByLoginName" parameterType="string" resultMap="BaseResultMap">
		select *
		from x_user
		where login_name = #{loginName,jdbcType=BIGINT}
	</select>
	<!-- 查询角色 -->
    <select id="getRoleByUserId" parameterType="long" resultType="xrole">
        select xr.*
        from x_user_role xur
        right join x_role xr on xur.x_role_id = xr.xid
        where xur.x_user_id = #{xId,jdbcType=BIGINT}
    </select>
    <!-- 查询权限 -->
    <select id="getPermissionByRoleIdForLogin" parameterType="list" resultType="xmenupermission">
        select distinct t2.*
<!--         xp.xid xId,
        xp.permission_name permissionName,
        xp.permission_description permissionDescription -->
        from x_role_permission t1
        right join x_permission t2 on xrp.x_permission_id = t2.xid
        <where>
            <if test="list != null and list.size != 0">
		        t1.x_role_id in 
		        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
		            #{item.xId}
		        </foreach>
            </if>
            <if test="list == null or list.size == 0">
                t1.x_role_id in ('')
            </if>
        </where> 
    </select>
	
</mapper>