<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>用户管理模块</title>
    <!-- <link rel="stylesheet" href="./plugins/font-awesome/css/font-awesome.min.css" media="all">
        <link rel="stylesheet" href="./css/themes/default.css" media="all"> -->
    <script src="./lib/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="./css/menuMgt.css" media="all">
</head>
<body>
    <div class="kit-table">
        <form class="layui-form" lay-filter="kit-search-form">
            <div class="kit-table-header">
                <div class="kit-search-btns">
                    <a href="javascript:;" data-action="add" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe608;</i> 新增</a>
                    <a href="javascript:;" data-action="del-bulk" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon">&#xe640;</i> 批量删除</a>
                </div>
                <div class="kit-search-inputs">
                    <div class="kit-search-keyword">
                        <input type="text" class="layui-input" name="keyword" placeholder="搜索关键字.." />
                        <button lay-submit lay-filter="subSearch"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                    <div class="kit-search-more" id="kit-search-more">更多筛选<i class="layui-icon">&#xe61a;</i></div>
                </div>
            </div>
            <div class="kit-search-mored layui-anim layui-anim-upbit">
                <div class="kit-search-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label">输入框</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">验证手机</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">验证邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">范围</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">单行选择框</label>
                        <div class="layui-input-block">
                            <select name="interest" lay-filter="aihao">
                                <option value=""></option>
                                <option value="0">写作</option>
                                <option value="1" selected="">阅读</option>
                                <option value="2">游戏</option>
                                <option value="3">音乐</option>
                                <option value="4">旅行</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="kit-search-footer">
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary kit-btn">重置</button>
                    <button lay-submit lay-filter="subSearch" class="layui-btn layui-btn-sm kit-btn">确定</button>
                </div>
            </div>
        </form>
        <div class="kit-table-body">
            <table id="demo" lay-filter="demo"></table>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>


    <script type="text/html" id="edit-tpl">
        <div style="margin:10px">
            <form class="layui-form" action="" lay-filter="form-edit">
                <input type="hidden" name="id" value="{{d.menu.id}}" />
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="menuName" required lay-verify="required" value="{{d.menu.menuName}}" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">页面路径</label>
                    <div class="layui-input-block">
                        <input type="text" name="menuPath" required lay-verify="required" value="{{d.menu.menuPath}}" placeholder="请输入页面路径" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单路径</label>
                    <div class="layui-input-block">
                        <input type="text" name="menuComponent" required lay-verify="required" value="{{d.menu.menuComponent}}" placeholder="请输入菜单路径" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-input-block">
                        <select name="icons" lay-verify="required">
                        <option value=""></option>
                        {{# layui.each(d.icons,function(index,item){ }}                      
                        {{# if(item.value===d.menu.icon){}}
                        <option icon value="{{item.value}}" selected><i class="layui-icon">{{item.value}}</i></option>
                        {{#}else{}}
                        <option icon value="{{item.value}}"><i class="layui-icon">{{item.value}}</i></option>
                        {{#};}}
                        {{# }); }}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">父节点</label>
                    <div class="layui-input-block">
                        <select name="parentId" lay-verify="required">
                        <option value=""></option>
                        {{# layui.each(d.parentList,function(index,item){ }}                      
                        {{# if(item.xId===d.menu.parentId){}}
                        <option value="{{item.xId}}" selected>{{item.menuName}}</option>
                        {{#}else{}}
                        <option value="{{item.xId}}">{{item.menuName}}</option>
                        {{#};}}
                        {{# }); }}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">节点类型</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="leaf" value="{{d.menu.leaf}}" lay-skin="switch" lay-text="节点|叶子" lay-filter="leaf-change" {{ d.menu.leaf == '0' ? 'checked' : '' }}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权重</label>
                    <div class="layui-input-block">
                        <input type="number" name="pos" required lay-verify="required" value="{{d.menu.pos}}" placeholder="请输入菜单路径" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="display:none;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formEdit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <!-- 菜单节点类型数据转化 -->
    <script type="text/html" id="leaf-Tpl">
        {{#  if(d.leaf == '0'){ }}
            {{ "节点" }}
        {{#  } else { }}
            {{ "叶子" }}
        {{#  } }}
    </script>
    <!-- 图标数据转化成图标 -->
    <script type="text/html" id="icon-Tpl">
        <!-- <a href="/detail/{{d.id}}" class="layui-table-link">{{d.title}}</a> -->
        <i class="layui-icon">{{d.icon}}</i>
    </script>

    <!-- <script src="./plugins/layui/layui.js"></script> -->
    <script>
        $.aja
        var staticData = {
            parentMenuList:[],
            icons: [{
                    id: 0,
                    value: '&#xe68e;'
                }, {
                    id: 1,
                    value: '&#xe705;'
                }, {
                    id: 2,
                    value: '&#xe658;'
                }, {
                    id: 3,
                    value: '&#xe7a0;'
                }, {
                    id: 4,
                    value: '&#xe857;'
                }, {
                    id: 5,
                    value: '&#xe614;'
                }, {
                    id: 6,
                    value: '&#xe629;'
                }, {
                    id: 7,
                    value: '&#xe600;'
                }, {
                    id: 8,
                    value: '&#xe609;'
                }, {
                    id: 9,
                    value: '&#xe613;'
                }, {
                    id: 10,
                    value: '&#xe612;'
                }]
            };
        // 获取所有的父节点菜单
        $.ajax({
            url:"/xqsrd/menu/getParentMenuList",
            type: "GET",
            dataType: "json",
            error: function(xhr, status, thrown) {
                layui.hint().error('Navbar error:AJAX请求出错.' + thrown);
            },
            success: function(res) {
                //得到数据
                // console.log(res);
                // console.log(res.length);
                staticData.parentMenuList = res;
            }
        });
        layui.use(['table'], function() {
            var table = layui.table,
                $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                laytpl = layui.laytpl;
            var tableIns = table.render({
                elem: '#demo',
                height: 'full-135', //容器高度
                // url: 'datas/userMgt.json',
                url: '/xqsrd/menu/getAllMenuList',
                page: true,
                id: 'demo',
                cols: [
                    [{
                        checkbox: true,
                        fixed: true
                    }, {
                        field: 'menuName',
                        title: '菜单名称',
                        width: 120
                    }, {
                        field: 'menuPath',
                        title: '页面路径',
                        width: 80
                    }, {
                        field: 'menuComponent',
                        title: '文件路径',
                        width: 120
                    },{
                        field: 'icon',
                        title: '图标',
                        width: 60,
                        align: 'center',
                        templet: '#icon-Tpl'
                    }, {
                        field: 'parentId',
                        title: '父节点',
                        width: 80
                    }, {
                        field: 'leaf',
                        title: '菜单类型',
                        width: 100,
                        templet: '#leaf-Tpl'
                    }, {
                        field: 'pos',
                        title: '权重',
                        width: 120
                    }, {
                        fixed: 'right',
                        title: '操作',
                        width: 150,
                        align: 'center',
                        toolbar: '#barDemo'
                    }]
                ],
                done: function(res, curr, count) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    console.log(res);
                    //得到当前页码
                    console.log(curr);
                    //得到数据总量
                    console.log(count);
                },
                loading: true,
                //method: 'post'
            });

            //监听搜索表单提交
            form.on('submit(subSearch)', function(data) {
                console.log(data.field);
                layer.msg(JSON.stringify(data.field));
                //带条件查询
                tableIns.reload({
                    where: data.field
                });
                return false;
            });
            //监听工具条
            table.on('tool(demo)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'detail') { //查看
                    console.log(table.checkStatus('demo'));
                    //do somehing
                } else if (layEvent === 'del') { //删除
                    layer.confirm('真的删除行么', function(index) {
                        obj.del(); //删除对应行（tr）的DOM结构
                        layer.close(index);
                        //向服务端发送删除指令
                    });
                } else if (layEvent === 'edit') { //编辑
                    var d = {
                        menu: data,
                        icons: staticData.icons,
                        parentList:staticData.parentMenuList
                    };
                    //do something
                    laytpl($('#edit-tpl').html()).render(d, function(html) {
                        layer.open({
                            type: 1,
                            title: '表单',
                            content: html,
                            area: ['800px', '600px'],
                            btn: ['提交', '重置', '取消'],
                            yes: function(index, layero) {
                                editIndex = index;
                                $('form[lay-filter="form-edit"]').find('button[lay-submit]').click();
                            },
                            btn2: function(index, layero) {
                                $('form[lay-filter="form-edit"]').find('button[type="reset"]').click();
                                return false;
                            },
                            success: function() {
                                form.render(null, 'form-edit');
                            }
                        });
                    });
                    //同步更新缓存对应的值
                    // obj.update({
                    //     username: '123',
                    //     title: 'xxx'
                    // });
                }
            });
            form.render(null, 'kit-search-form');
            $('#kit-search-more').on('click', function() {
                $('.kit-search-mored').toggle();
            });
            var editIndex;
            form.on('submit(formEdit)', function(data) {
                // layer.msg('formEdit');
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                editIndex && layer.close(editIndex); //关闭弹出层
                return false;
            });
            // 编辑时节点类型切换
            form.on('switch(leaf-change)', function(obj) {
                this.value = obj.elem.checked?0:1;// 0为节点，1为叶子
                // layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
            });
            $('.kit-search-btns').children('a').off('click').on('click', function() {
                var $that = $(this),
                    action = $that.data('action');
                switch (action) {
                    case 'add':
                        var d = {
                            user: {
                                username: '',
                                loginName: '',
                                role: '',
                                mobile: '',
                                email: 1,
                                loginTime: '',
                                lastLoginTime: ''
                            },
                            roles: staticData.roles
                        };
                        //渲染
                        laytpl($('#edit-tpl').html()).render(d,
                            function(html) {
                                layer.open({
                                    type: 1,
                                    title: '表单',
                                    content: html,
                                    area: ['800px', '600px'],
                                    btn: ['提交', '重置', '取消'],
                                    yes: function(index, layero) {
                                        editIndex = index;
                                        $('form[lay-filter="form-edit"]').find('button[lay-submit]').click();
                                    },
                                    btn2: function(index, layero) {
                                        $('form[lay-filter="form-edit"]').find('button[type="reset"]').click();
                                        return false;
                                    },
                                    success: function() {
                                        form.render(null, 'form-edit');
                                    }
                                });
                            });
                        break;
                    case 'del-bulk':
                        var d = table.checkStatus('demo');
                        if (d.data.length === 0) {
                            layer.msg('请选择要删除的数据');
                            return;
                        }
                        var data = d.data,
                            names = [],
                            ids = [];
                        layui.each(data, function(index, item) {
                            console.log(item);
                            names.push(item.menuName);
                            ids.push(item.xId);
                        });
                        layer.msg(names.join(','));
                        console.log(ids.join(','));
                        break;
                }
            });
        });
    </script>
</body>

</html>