/**
 * Name:app.css
 * Author:Van
 * E-mail:zheng_jinfan@126.com
 * Website:http://kit.zhengjinfan.cn/
 * LICENSE:MIT
 */

/* table相关 start */

.kit-table {
    position: relative;
    /* width: 85%;
    margin: 55px auto; */
    box-shadow: 0px 1px 7px 0px #cccccc;
}

.kit-table .kit-table-header {
    height: 50px;
    position: relative;
    box-shadow: 0px 1px 7px 0px #cccccc;
}

.kit-table .kit-table-header .kit-search-btns {
    padding: 10px;
    position: absolute;
}

.kit-table .kit-table-header .kit-search-inputs {
    position: absolute;
    right: 70px;
    top: 0;
    padding: 10px 25px 10px 10px;
}

.kit-table .kit-table-header .kit-search-inputs .kit-search-keyword {
    margin-right: 10px;
    position: relative;
}

.kit-table .kit-table-header .kit-search-inputs .kit-search-more {
    cursor: pointer;
    color: #009688;
    position: absolute;
    top: 15px;
    right: -50px;
}

.kit-table .kit-table-header .kit-search-inputs .kit-search-keyword input {
    height: 30px;
    line-height: 30px;
    width: 200px;
    padding-right: 32px;
}

.kit-table .kit-table-header .kit-search-inputs .kit-search-keyword button {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
    background-color: #009688;
    color: white;
}

.kit-table .kit-table-header .kit-search-btns .layui-btn {
    padding: 0 15px;
}

.kit-table .kit-search-mored {
    width: 100%;
    height: auto;
    top: 51px;
    background-color: white;
    z-index: 5;
    box-shadow: -4px 4px 7px -3px #ccc;
    position: absolute;
    margin-bottom: 10px;
    display: none;
    right: 0px;
    width: 50%;
}

.kit-table .kit-search-mored .kit-search-body {
    padding: 10px;
    padding-bottom: 45px;
}

.kit-table .kit-search-mored .kit-search-footer {
    height: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    text-align: right;
}

.kit-table .kit-search-mored .kit-search-footer .kit-btn {
    margin: 10px 5px;
    padding: 0 15px;
}

.kit-table .kit-search-mored .kit-search-footer .kit-btn:last-child {
    margin-right: 15px;
}

.kit-table .kit-table-body {
    position: relative;
}

.kit-table .kit-table-body .layui-table-view {
    margin: 0;
}


/* table相关 end */