<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yemh.xqsrd.menu.mapper.IXMenuMapper">
    <!-- 结果集 -->
    <resultMap id="BaseResultMap" type="xuser" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="passnord" property="passnord" jdbcType="VARCHAR" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
<!--         <result column="user_sex" property="userSex" javaType="com.neo.enums.UserSexEnum"/> -->
    </resultMap>
    <!-- 登录查询 -->
	<select id="getUserMenuList" resultType="java.util.LinkedHashMap">
		select 
        xid 'xId',
        menu_name 'title',
        menu_path 'path',
        menu_component 'component',
        menu_icon 'icon',
        parent_id 'parentId',
        is_leaf 'leaf',
        pos 'pos'
		from x_menu order by pos
	</select>
	
    <!-- 管理查询，获取所有父节点菜单 -->
    <select id="getParentMenuList" resultType="java.util.LinkedHashMap">
        select 
        xid 'xId',
        menu_name 'menuName',
        menu_path 'menuPath',
        menu_component 'menuComponent',
        menu_icon 'icon',
        parent_id 'parentId',
        is_leaf 'leaf',
        pos 'pos'
        from x_menu 
        <where>
        is_leaf = '0'
        </where>
        order by pos
    </select>
    
    <insert id="addMenu">
        insert into x_menu (
        menu_name,
        menu_path,
        menu_component,
        menu_icon,
        parent_id,
        is_leaf,
        pos,
        gmt_create,
        gmt_modified
        ) values (
        #{menuName},
        #{menuPath},
        #{menuComponent},
        #{menuIcon},
        #{parentId},
        #{leaf},
        #{pos},
        #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModified,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <update id="updMenu">
        update x_menu
        <set>
        <if test="menuName != null or menuName !=''">menu_name = #{menuName},</if>
        <if test="menuPath != null or menuPath !=''">menu_path = #{menuPath},</if>
        <if test="menuComponent != null or menuComponent !=''">menu_component = #{menuComponent},</if>
        <if test="menuIcon != null or menuIcon !=''">menu_icon = #{menuIcon},</if>
        <if test="parentId != null or parentId !=''">parent_id = #{parentId},</if>
        <if test="leaf != null or leaf !=''">is_leaf = #{leaf},</if>
        <if test="pos != null or pos !=''">pos = #{pos},</if>
        <if test="gmt_modified != null or gmt_modified !=''">gmt_modified = #{gmtModified},</if>
        </set>
        <where>
        xid = #{xId}
        </where>
    
    </update>
    <!-- 查询，根据参数获取菜单 -->
    <select id="getList" resultType="java.util.LinkedHashMap">
        select 
        xid 'xId',
        menu_name 'menuName',
        menu_path 'menuPath',
        menu_component 'menuComponent',
        menu_icon 'icon',
        parent_id 'parentId',
        is_leaf 'leaf',
        pos 'pos'
        from x_menu order by pos
    </select>
    
    <!-- 查询，根据权限id参数获取菜单 -->
    <select id="getMenuListWithPermId" resultType="java.util.LinkedHashMap">
        select 
        xid 'xId',
<!--         ,menu_name 'menuName',
        menu_path 'menuPath',
        menu_component 'menuComponent',
        menu_icon 'icon',
        parent_id 'parentId',
        is_leaf 'leaf',
        pos 'pos' -->
        from x_menu t1
        left join x_permission_menu t2
        on t1.xid = t2.x_menu_xid
        <where>
            <if test="permissionId != null and permissionId !=''">t2.x_permission_id=#{permissionId}</if>
        </where>
        order by pos
    </select>
    
    <!-- 管理查询，获取所有菜单,给管理权限界面用 -->
    <select id="getAllMenuList" resultType="java.util.LinkedHashMap">
        select 
        xid 'id',
        <!-- xid 'xId', -->
        menu_name 'menuName',
        menu_path 'menuPath',
        menu_component 'menuComponent',
        menu_icon 'icon',
        parent_id 'parentId',
        is_leaf 'leaf',
        pos 'pos'
        from x_menu order by pos
    </select>
</mapper>